<div class="bx--col-sm-4 bx--col-lg-4" style="border:1px solid black;padding:0;margin-top:24px; margin-bottom:24px;">
  <div class="developer--card bx--tile ibmcode_events">
    <a class="developer--card__block_link" href="/quicklab/{{ quicklab.lab_code }}" style="text-decoration:none;">
      <h5 class="developer--card__type" style="font-size:12px;background-color:#dbdbdb;margin:-16px;padding:16px">
        QuickLab
      </h5>
      <hr style="position:relative;height:3px;border-top: 0px solid rgba(0, 0, 0, 0.5);" />
      <div class="developer--card__body">
        <h2 class="developer--card__title" style="font-size: 2em; margin: 5px;">
          {{ quicklab.title }}
        </h2>
        <h3 class="developer--card_description" style="margin: 5px; font-size: 90%">
          {{ quicklab.overview }}
        </h3>
      </div>
      <div class="developer--card__bottom">
        <p class="ibm--card__date" style="float: left;">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true" style="position:relative;top:4px">
            <path d="M26 4.03h-4v-2h-2v2h-8v-2h-2v2H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2v-20a2 2 0 0 0-2-2zm0 22H6v-14h20zm0-16H6v-4h4v2h2v-2h8v2h2v-2h4z" />
          </svg>
        </p>
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" style="float:right">
          <path d="M14 4l-1.1 1.1 6 6.1H2v1.6h16.9l-6 6.1L14 20l8-8z" />
        </svg>
        {% if quicklab.effort %}
          <p class="available" style="font-size:90%; margin-left:30px; padding-top:2px; color: rgb(51, 122, 183);">
            {{ ".available_now" | t }}
          </p>
        {% elsif quicklab.effort == 1 %}
          <p class="available" style="font-size:90%; margin-left:30px; padding-top:2px; color: rgb(51, 122, 183);">
            {{ ".available_now_effort_is_1" | t: effort: quicklab.effort }}
          </p>
        {% else %}
          <p class="available" style="font-size:90%; margin-left:30px; padding-top:2px; color: rgb(51, 122, 183);">
            {{ ".available_now_effort_is_more_than_1" | t: effort: quicklab.effort }}
          </p>
        {% endif %}
      </div>
    </a>
  </div>
</div>
